{% extends 'base.html' %}

{% block content %}
<h2>Home</h2>
<p>Welcome to twitter clone.</p>

<h2>Messages</h2>
    <ul>
	{% if messages %}
        {% for message in messages %}
	{% if message.text %}
	<div>
        <p style="margin: 0; padding: 0;"><strong>@{{ message.screen_name }}</strong>       ({{ message.created_at }})
	<br>{{ message.text }}</p>
	<br>
	</div>
	{% endif %}
	{% endfor %}
	{% if messages|length <= 1 %}
	<p>You have reached the end.</p>
	{% endif %}
	{% endif %}
    </ul>
    <div>
	    {% if page > 1 %} 
	    <a href="{{ url_for('root', page=page-1) }}">Previous</a>
	    {% endif %}
	    {% if messages|length >= 20 %}
	    <a href="{{ url_for('root', page=page+1) }}">Next</a>
	    {% endif %}
    </div>
{% endblock %}
