{% extends 'base.html' %}

{% block content %}
<h2>Search Tweets</h2>
<form action="{{ url_for('search') }}" method="get">
    <input type="text" name="q" placeholder="Search tweets..." required>
    <button type="submit">Search</button>
</form>

{% if messages %}
    <div>
        <h3>Search Results</h3>
        {% for message in messages %}
        <div>
        <p style="margin: 0; padding: 0;"><strong>@{{ message.screen_name }}</strong>       ({{ message.created_at }})<br>{{ message.highlighted_text | safe }}</p>
	<br> 
        </div>
	{% endfor %}
    </div>
    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('search', q=query, page=page-1) }}">Previous</a>
        {% endif %}
        <a href="{{ url_for('search', q=query, page=page+1) }}">Next</a>
    </div>
{% else %}
    <p>No results to show.</p>
{% endif %}
{% endblock %}
